.com_contaner{
    display: flex;
    height: 400px;
    width: 650px;
    border: solid black;
    margin-left: 390px;
    margin-top: 20px;
    position: relative;
}
.com_process{
    height: 200px;
    width: 300px;
    gap: 10px;
    margin: 20px;
    left: 10px;
}
img{
    height: 180px;
    margin: 8px;
    width: auto;
}

.icon {
    font-size: 80px;
    position: absolute;
    top: 90px;
    left: 270px;
}
.com_idication{
    display: flex;
    height: 110px;
    width: 650px;
    border: solid black;
}
.indication{
    display: flex;
    height: 50px;
    width: 200px;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    font-size: 25px;
    border-radius: 10px;
}
#before{

    position: absolute;
    top: 215px;
    left: 50px;
   
}
#after{
    position: absolute;
    top: 215px;
    right: 70px;
   
}
.rangeSlider {
    background-color: var(--blue);
    position: absolute;
    left: 30px;
    bottom: 65px;
}

.rangeSlider::-webkit-slider-thumb {
    background: var(--green);
}

button{
    background-color: var(--green);
    height: 50px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    position: absolute;
    right: 30px;
    bottom: 50px;

}
button:hover{
    scale: 1.2;
   /* transition-timing-function: ease-in-out;*/
    transition: all 0.3s ease;
}

.box_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    position: relative;
    border-bottom: 3px sloid black;
}
#your_image{
 font-size: 20px;
}

#show_all{
    color: var(--blue);
    font-size: 20px;
    position: absolute;
    right: 30px;
}

.box_img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
}
.image img{

    width: 30%;
}

.image img:hover{
    transform: scale(1.2);
}