@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Inter", sans-serif;
}

:root {
    --blue: #342ead;
    --blueHover: #2d2798;
    --lightBlack: #f1f1f1;
    --red: #ff5b14;
    --yellow: #ffb93a;
    --green: #2bda6d;
    --gray: #c0c0c0;
}
body {
    background-color: var(--lightBlack);
}

a {
    text-decoration: none;
    color: white;
}
