.compressPage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* max-height: 100vh; */
    overflow: hidden;
    /* background-color: aqua; */
}

.backgroundStyle {
    position: absolute;
    left: 0;
    top: -250px;
    width: 100%;
    height: 100%;
    background-image: url("../media/pic1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    /* filter: blur(30px); */
    opacity: 95%;
    filter: blur(30px) brightness(70%) contrast(110%) saturate(150%);
    transform: scale(1.7);
}

.compressContainer {
    position: relative;
    padding: 25px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.spiralSvg {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    width: auto;
    transform-origin: center;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: none;
}

.compressContainer .beforeImage,
.compressContainer .afterImage {
    height: 460px;
    /* width: calc(50vw - 50px); */
    /* width: 100%; */
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #6c6b6b;
    border-radius: 10px;
    padding: 18px;
    box-shadow: 15px 15px 20px #000000ab;
    cursor: pointer;
    background: #ffffff48;
    /* border: 1px solid red; */
}

.compressContainer .beforeImage {
    padding-right: 30px;
}

.compressContainer .afterImage {
    padding-left: 30px;
}

.compressContainer .beforeImage img,
.compressContainer .afterImage img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.compressActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 65%;
    max-width: 950px;
    background: #6c6b6b2b;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    margin-bottom: 3rem;
    box-shadow: 5px 5px 10px #0e0e0e4e;
    border-radius: 1rem;
    /* border: 1px solid red; */
}

.compressActions .rangeSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.compressActions .rangeSlider .sizeChanger {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 7px;
    border-radius: 10px;
    background-color: rgb(233, 233, 186);
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.compressActions .rangeSlider .sizeChanger:hover {
    opacity: 1;
}

.compressActions .rangeSlider .sizeChanger::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: var(--yellow);
    cursor: pointer;
}

.compressActions .rangeSlider .sizeChanger::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: var(--yellow);
    cursor: pointer;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.actions .btn-compress {
    height: 40px;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #ffffff;
    color: var(--blue);
    text-shadow: none;
    box-shadow: 5px 5px 10px #0e0e0e4e;
    cursor: pointer;
    outline: none;
    border: none;
    gap: 0.5rem;
    /* transition: scale 0.3s ease-in-out; */
}

.btnCompress-primary {
    background: var(--yellow) !important;
    color: var(--blue) !important;
    font-weight: 500;
    /* transition: scale 0.3s ease-in-out !important; */
}

.btn-compress:hover,
.btnCompress-primary:hover {
    scale: 1.09;
    box-shadow: 5px 5px 20px #1d15bd74;
}


#uploder_percent_mobile_view {
    display: none;
}

#rangeSlider_2nd_p {
    display: none;
}

.image_uploader {
    cursor: pointer;
    background-color: var(--blueHover);
    outline: none;
    border: 1px solid var(--yellow);
    padding: 8px 15px;
    border-radius: 25px;
    width: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 10px;
    /* justify-content: center; */
}

.image_uploader>span {
    border-left: 2px solid white;
    padding: 0 5px;
}

/* .btn p {
    display: none;
}

.btn:hover p {
    display: block;
} */

@media screen and (max-width: 450px) {
    .compressPage {
        display: block;
        width: 100%;
        /* max-height: 100vh; */
    }

    .spiralSvg {
        display: none;
        /* position: absolute;
        top: 50%;
        left: 50%;
        height: 80%;
        width: auto;
        transform-origin: center;
        transform: translate(-50%, -50%);
        user-select: none;
        pointer-events: none; */
    }

    .compressContainer {
        /* position: relative; */
        padding-block: 5vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6vw;
        /* border: 1px solid red; */

    }

    .compressContainer .beforeImage,
    .compressContainer .afterImage {
        height: 50vw;
        width: 65vw;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #6c6b6b;
        border-radius: 10px;
        box-shadow: 10px 10px 15px #000000ab;
        cursor: pointer;
        background: #ffffff48;
        /* border: 1px solid red; */
    }

    .compressContainer .beforeImage {
        position: relative;
        right: 12vw;
    }

    .compressContainer .afterImage {
        position: relative;
        left: 12vw;

    }

    .compressContainer .beforeImage img,
    .compressContainer .afterImage img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 5px;
        /* box-shadow: 0px 0px 15px #00000068; */
    }

    .compressActions {
        width: 90vw;
        margin-inline: 5vw;
        margin-bottom: 6vw;
        padding-top: .6rem;
        padding-bottom: 3rem;
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        row-gap: 6vw;
        flex-wrap: wrap;
        align-items: flex-start;
        box-shadow: 5px 5px 10px #0e0e0e00;
        border-radius: 1rem;
        background: #ff000000;
        /* border: 1px solid red; */
    }

    #uploder_percent_mobile_view {
        width: 100%;
        margin-bottom: 0px;
        display: flex;
        gap: 6vw;
        justify-content: flex-start;
        /* border: .1px solid #b1c81b; */
    }

    .image_uploader {
        display: none;
    }

    .image_uploader_for_mobile {
        width: fit-content;
        height: fit-content;
        padding: 10px 15px;
        cursor: pointer;
        background-color: var(--blueHover);
        outline: none;
        border: 1px solid var(--yellow);
        border-radius: 25px;
        overflow: hidden;
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 5vw;
        font-weight: 700;
    }

    #rangeSlider_mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        gap: 0rem;
        /* border: 1px solid green; */
    }

    #rangeSlider_mobile p {
        font-size: 4.7vw;
        font-weight: 600;
    }

    .rangeSlider {
        margin-left: 1vw;
        /* border: 1px solid green; */
    }

    .rangeSlider p {
        display: none;
    }

    #rangeSlider_2nd_p {
        display: block;
        font-size: 4.7vw;
        font-weight: 600;
        margin-right: 2vw;
    }

    .compressActions .rangeSlider .sizeChanger {
        -webkit-appearance: none;
        appearance: none;
        width: 60vw;
        height: 7px;
        border-radius: 10px;
    }

    .actions {
        /* width: 100%;
        display: flex;
        justify-content: center; */
        margin-top: 4vw;
        gap: 6vw;
        /* border: 1px solid red; */
    }

    .actions .btn-compress {
        height: 11vw;
        width: 25vw;
        /* padding-top: 3vw; */
        box-shadow: 5px 5px 20px #141414d0;
        font-size: 05vw;
    }
    #compress_ing_shear{
        font-size: 07vw;
    }








































    /* 
    .sizeChanger_mobile {
        -webkit-appearance: none;
        appearance: none;
        width: 150px;
        height: 7px;
        border-radius: 10px;
        background-color: rgb(233, 233, 186);
        outline: none;
        opacity: 0.8;
        -webkit-transition: 0.2s;
        transition: opacity 0.2s;
    }
    .sizeChanger_mobile:hover {
        opacity: 1;
    } 
    .sizeChanger_mobile::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border: 2px solid white;
        background-color: var(--yellow);
        cursor: pointer;
    }
    .sizeChanger_mobile::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        border: 2px solid white;
        background-color: var(--yellow);
        cursor: pointer;
    }
    .rangeSlider input {
        display: none;
    }
    .rangeSlider_mobile_p {
        display: block;
    }
    .compressActions .rangeSlider{
        font-size: 5vw;
        width: 100%;
        font-weight: 600;
        gap: 0rem;
        flex-direction: column;
        justify-content: space-between;
    }
    .compressActions .rangeSlider p{
        width: 100%;
        border: 1px solid rgb(204, 140, 140);
    } */
}