.compressPage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    /* background-color: aqua; */
}

.backgroundStyle {
    position: absolute;
    left: 0;
    top: -250px;
    width: 100%;
    height: 100%;
    background-image: url("../media/pic1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
    /* filter: blur(30px); */
    opacity: 95%;
    filter: blur(30px) brightness(80%) contrast(110%) saturate(150%);
    transform: scale(1.7);
}
.compressContainer {
    position: relative;
    padding: 25px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.spiralSvg {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    width: auto;
    transform-origin: center;
    transform: translate(-50%, -50%);
    user-select: none;
    pointer-events: none;
}

.compressContainer .beforeImage,
.compressContainer .afterImage {
    height: 460px;
    /* width: calc(50vw - 50px); */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #6c6b6b;
    border-radius: 10px;
    padding: 18px;
    box-shadow: 15px 15px 20px #000000ab;
    cursor: pointer;
    background: #ffffff48;
}
.compressContainer .beforeImage {
    padding-right: 30px;
}
.compressContainer .afterImage {
    padding-left: 30px;
}
.compressContainer .beforeImage img,
.compressContainer .afterImage img {
    width: auto;
    height: 100%;
    border-radius: 10px;
}

.compressActions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 65%;
    max-width: 950px;
    background: #6c6b6b2b;
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
    margin-bottom: 3rem;
    box-shadow: 5px 5px 10px #0e0e0e4e;
    border-radius: 1rem;
}

.compressActions .rangeSlider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.compressActions .rangeSlider .sizeChanger {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 7px;
    border-radius: 10px;
    background-color: rgb(233, 233, 186);
    outline: none;
    opacity: 0.8;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.compressActions .rangeSlider .sizeChanger:hover {
    opacity: 1;
}

.compressActions .rangeSlider .sizeChanger::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: var(--yellow);
    cursor: pointer;
}

.compressActions .rangeSlider .sizeChanger::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid white;
    background-color: var(--yellow);
    cursor: pointer;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.actions .btn-compress {
    height: 40px;
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: #ffffff;
    color: var(--blue);
    text-shadow: none;
    box-shadow: 5px 5px 10px #0e0e0e4e;
    cursor: pointer;
    outline: none;
    border: none;
    gap: 0.5rem;
    /* transition: scale 0.3s ease-in-out; */
}

.btnCompress-primary {
    background: var(--yellow) !important;
    color: var(--blue) !important;
    font-weight: 500;
    /* transition: scale 0.3s ease-in-out !important; */
}
.btn-compress:hover,
.btnCompress-primary:hover {
    scale: 1.09;
}

/* .btn p {
    display: none;
}

.btn:hover p {
    display: block;
} */
