.feedback{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(2,0,.6,1) 0%,rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
   
}
.feedback h2{
    font-family: "Arvo", serif !important;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}
.box-size div{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);;
}
.box-size div:nth-child(1){
    top: 12%;
    left: 42%;
    animation:  animated 10s linear infinite;
}
.box-size div:nth-child(2){
    top: 70%;
    left: 50%;
    animation:  animated 7s linear infinite;
}
.box-size div:nth-child(3){
    top: 17%;
    left: 6%;
    animation:  animated 9s linear infinite;
}
.box-size div:nth-child(4){
    top: 20%;
    left: 60%;
    animation:  animated 10s linear infinite;
}
.box-size div:nth-child(5){
    top: 67%;
    left: 10%;
    animation:  animated 6s linear infinite;
}
.box-size div:nth-child(6){
    top: 78%;
    left: 40%;
    animation:  animated 14s linear infinite;
}
.box-size div:nth-child(7){
    top: 10%;
    left: 92%;
    animation:  animated 15s linear infinite;
}
.box-size div:nth-child(8){
    top: 30%;
    left: 70%;
    animation:  animated 10s linear infinite;
}
.box-size div:nth-child(9){
    top: 92%;
    left: 11%;
    animation:  animated 16s linear infinite;
}
.box-size div:nth-child(10){
    top: 56%;
    left: 87%;
    animation:  animated 14s linear infinite;
}
.box-size div:nth-child(11){
    top: 22%;
    left: 52%;
    animation:  animated 9s linear infinite;
}
.box-size div:nth-child(12){
    top: 10%;
    left: 80%;
    animation:  animated 9s linear infinite;
}
.box-size div:nth-child(13){
    top: 97%;
    left: 76%;
    animation:  animated 13s linear infinite;
}
.box-size div:nth-child(14){
    top: 60%;
    left: 69%;
    animation:  animated 8s linear infinite;
}
.box-size div:nth-child(15){
    top: 67%;
    left: 34%;
    animation:  animated 6s linear infinite;
}
.box-size div:nth-child(16){
    top: 78%;
    left: 90%;
    animation:  animated 14s linear infinite;
}
.box-size div:nth-child(17){
    top: 92%;
    left: 10%;
    animation:  animated 15s linear infinite;
}
.box-size div:nth-child(18){
    top: 44%;
    left: 79%;
    animation:  animated 17s linear infinite;
}
.box-size div:nth-child(19){
    top: 61%;
    left: 31%;
    animation:  animated 16s linear infinite;
}
.box-size div:nth-child(20){
    top: 35%;
    left: 87%;
    animation:  animated 14s linear infinite;
}

@keyframes animated {
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.5) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}
.wrapper{
    max-height: 220px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    position: absolute;
    top: 25%;
}

.wrapper .box-item{
   min-height: 210px;  
   height: 210px;
   width: 150px;  
   text-align: center;
   background-color: red;
   border: solid black;
   justify-content: center;
}