.login_page {
    width: 100%;
    height: 85vh;
    overflow: hidden;
}
.login_img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border: solod black;
    overflow: hidden;
    background-image: url("../media/login.png");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.img {
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white;
    /*box-shadow: 15px 15px 20px #000000ab;*/
    
}

#googlelogin{
  border-radius: 20px 0px 0px 20px;
  backdrop-filter: blur(20px);

}

.login {
    height: 150px;
    width: 400px;
    font-size: 20px;
    border: solid red;
    box-shadow: 1px;
    text-align: center;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login h2 {
    font-size: 40px;
    color: white;
}
.login p {
    font-size: 25px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    color: white;
    margin-bottom: 10px;
}
.google {
    height: 50px;
    width: 300px;
    position: absolute;
    top: 90px;
    left: 15px;
    color: white;
}
.google img {
    position: absolute;
    top: -5px;
    left: -39px;
    height: 40px;
    width: auto;
    background: transparent;
}
.continue {
    font-size: 29px;
    position: absolute;
    top: 7px;
    left: 41px;
}
.login .button{
    height: 50px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 17px;
    font-weight: bold;
    border: solid red;
    position: absolute;
    top: 1px;
    right: -115px;
} 

#benifit{
    border-radius: 0px 20px 20px 0px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,black 30%,red 70%);
}

#benifit h3{
    font-size: 30px;
    color: white; 
    margin-left: 15px;
    margin-top: -20px ;
}
#benifit p{
    font-size: 20px;
    color: white;
    margin-left: 15px;
    margin-top: 20px ;
}

/* button {
    background-color: var(--green);
    height: 50px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    top: 1px;
    right: -115px;
} */
/*.login_img img{
    width: 100%;
    height: auto;
    position: absolute;
    top: -150px;
    left: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1.7);
    opacity: 95%;
    filter: blur(31px) brightness(80%) contrast(110%) saturate(150%);
}*/